<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Jorge</strong></p>
        <img src="../../assets/instagramUtils/dots.svg" class="card-text">
      </div>

      <img class="card-img" src="/assets/posts/img1.png" />

      <div class="card-footer">
        <div class="teste">
          <p class="card-action" >
            <img src="../../assets/instagramUtils/like.svg">
            <img src="../../assets/instagramUtils/comment.svg">
            <img src="../../assets/instagramUtils/send.svg">
          </p>
          <img src="../../assets/instagramUtils/save.svg" style="margin: 8px 14px; height: 27px;">
        </div>

        <p class="card-text" style="margin-left: 18px;text-align: left;font-weight: 500;">
          70 curtidas
        </p>

        <p class="card-text" style="text-align: left; margin-left: 18px;">
          <strong>Jorge</strong> foi um belo dia no parque!
        </p>
      <div class="comments-container">
        <img src="../../../assets/instagramUtils/emoji.svg" style="margin: 10px;width: 24px;height: 24px;">
        <input
            type="text"
            class="outline-none"
            placeholder="Adicione um comentário..."
          />
      </div>
      </div>
    </div>
  </div>
</div>



