.card {
  // margin-bottom: 50px;
  border-color: #E6E6E6;
  max-width: 600px;
}

.card-body{
    margin: 18px;
    display: flex;
    justify-content: space-between;
}

.card-footer{
    display: grid;
    height: 134px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.comentario {
  width: 100%;
  height: 34px;
}

.row{
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 20px;
  margin: 50px 0px;
  background: white;

  &:first-child{
    margin-top: 140px;
  }
}
