<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Jorge</strong></p>
        <p class="card-text"><strong>...</strong></p>
      </div>

      <img class="card-img" src="/assets/posts/img1.png" />

      <div class="card-footer">
        <p class="card-text" >
          * - +
        </p>

        <p class="card-text" style="margin-left: 18px;text-align: left;">
          70 curtidas
        </p>

        <p class="card-text" style="text-align: left; margin-left: 18px;">
          <strong>Jorge</strong> foi um belo dia no parque!
        </p>
      <hr style="margin: 11px 0px;">
      <input
          type="text"
          class="form-control comentario"
          placeholder="Adicione um comentário..."
        />
      </div>
    </div>
  </div>
</div>



