.card {
  // margin-bottom: 50px;
  border-color: #E6E6E6;
  max-width: 600px;
}

.card-body{
    margin: 18px;
    display: flex;
    justify-content: space-between;
}

.card-action{
      @apply grid
       grid-cols-3
       grid
       items-center;

       width: 120px;
       margin: 8px 14px;
       grid-gap: 12px;
       gap: 20px;
}

.card-footer{
    display: grid;
    height: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.comentario {
  width: 100%;
  height: 34px;
}

.row{
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 50px 0px 50px 0px;
  background: white;

  &:first-child{
    margin-top: 140px;
  }
}

.teste{
  display: flex;
    justify-content: space-between;
}

.comments-container{
  display: flex;
  margin: 12px;
  border-top: 1px solid #f2f2f2;
}
