<div class="card" style="display: flex; justify-content: center;    width: 350px;; background: white; border: 1px solid #d9d9d9;">
  <div class="card-register">
    <div class="card-title"></div>

    <form>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Número do celular ou e-mail"
        >
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Nome completo"
        >
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Nome de usuário"
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
        >
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block">Cadastre-se</button>
    </form>

    <p class="text-center text-sm" style="margin: 0px 44px 26px;">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Dados</b> e <b>Política de Cookies</b>.</p>

  </div>
</div>
<br />
<div class="card-login bg-white" style="width: 350px; border: 1px solid #d9d9d9;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" (click)="openLogin()" class="card-link">Conecte-se</a>
    </p>
  </div>
</div>
