<div class="card" style="max-width: 350px; border: 1px solid #d9d9d9;">
  <div class="card-login">
    <div class="card-title"></div>

    <form [formGroup]="formLoginUser" (ngSubmit)="authLogin()">
      <div>
        <input
          type="email"
          class="form-control"
          placeholder="Telefone, nome de usuário ou email"
          formControlName="email"
        >
      </div>
      <div>
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
          formControlName="password"
        >
      </div>
      <button type="submit">Entrar</button>
    </form>

    <div *ngIf="AuthService.hasError">
      <hr />
      <p>{{ AuthService.errorList }}</p>
    </div>

  </div>
</div>
<br />
<div class="card-register" style="max-width: 350px; border: 1px solid #d9d9d9;">
  <div>
    <p class="card-text">
      Não tem uma conta? <a (click)="openRegister()" class="card-link">Cadastre-se</a>
    </p>
  </div>
</div>
