<div class="card" style="max-width: 350px; border: 1px solid #d9d9d9;">
  <div class="card-login">
    <div class="card-title"></div>

    <form [formGroup]="formRegisterUser">
      <div>
        <input
          type="email"
          class="form-control"
          placeholder="Telefone, nome de usuário ou email"
        >
      </div>
      <div>
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
        >
      </div>
      <button type="submit">Entrar</button>
    </form>

    <div *ngIf="hasError">
      <hr />
      <p>O nome de usuário inserido não pertence a uma conta. Verifique seu nome de usuário e tente novamente.</p>
    </div>

  </div>
</div>
<br />
<div class="card-register" style="max-width: 350px; border: 1px solid #d9d9d9;">
  <div>
    <p class="card-text">
      Não tem uma conta? <a (click)="openRegister()" class="card-link">Cadastre-se</a>
    </p>
  </div>
</div>
