<div class="card" style="max-width: 350px;">
  <div class="card-login">
    <div class="card-title"></div>

    <form>
      <div>
        <input
          type="email"
          class="form-control"
          placeholder="E-mail"
        >
      </div>
      <div>
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
        >
      </div>
      <button type="submit">Entrar</button>
    </form>
    <hr />

    <p>O nome de usuário inserido não pertence a uma conta. Verifique seu nome de usuário e tente novamente.</p>

  </div>
</div>
<br />
<div class="card-register" style="max-width: 350px;">
  <div>
    <p class="card-text">
      Não tem uma conta? <a href="#" class="card-link">Cadastre-se</a>
    </p>
  </div>
</div>
