<nav class="navbar bg-white">
  <div class="nav-container">
    <img class="logo" src="../../assets/logo-instagram-2.png">
    <div class="searchBar">
      <img src="../../assets/instagramUtils/seach.svg">
      <p> Pesquisar </p>
    </div>

    <div class="instagram-utils">
      <img src="../../assets/instagramUtils/home.svg">
      <img src="../../assets/instagramUtils/add.svg">
      <img src="../../assets/instagramUtils/explore.svg">
      <img src="../../assets/instagramUtils/like.svg">

      <div class="add-post"></div>
    </div>
    <!-- <a (click)="logout()" class="ml-6 cursor-pointer"> Sair</a> -->
  </div>
</nav>

<div class="feed-container">
  <app-feed></app-feed>
</div>
