.navbar {
  height: 77px;
  position: fixed;
  padding: 26px 40px;
  width: 100%;
  border-bottom: solid 1px #E6E6E6;
  z-index: 5;
}

.nav-container{
  justify-content: space-around;
  display: flex;
}

.logo {
  background-image: url('/assets/logo-instagram-2.png');
  width: 110px;
  height: 36px;
  float: left;
}

.add-post {
  background-image: url('/assets/camera.png');
  width: 32px;
  height: 32px;
  float: left;
}

.feed-container{
  justify-content: center;
  display: flex;
  height: 100%;
  background: #fafafa;
}
