<nav class="navbar bg-white">
  <div class="nav-container">
    <img class="logo" src="../../assets/logo-instagram-2.png">
    <div class="searchBar">
      <img src="../../assets/instagramUtils/seach.svg">
      <p> Pesquisar </p>
    </div>

    <div class="instagram-utils">
      <img src="../../assets/instagramUtils/home.svg">
      <img
        src="../../assets/instagramUtils/add.svg"
        class="cursor-pointer"
        (click)="modalView = !modalView"
      >
      <img src="../../assets/instagramUtils/explore.svg">
      <img src="../../assets/instagramUtils/like.svg">

      <div class="add-post"></div>
    </div>
    <!-- <a (click)="logout()" class="ml-6 cursor-pointer"> Sair</a> -->
  </div>
</nav>

<div class="feed-container">
  <app-feed></app-feed>

  <app-add-post
    [hidden]="modalView"
    [style.display]="!modalView ? 'flex' : 'none'"
    [style.backgroundColor]="modalView ? 'transparent' : '#000000e8'"
    class="w-full h-full absolute justify-center z-50"
  >
  </app-add-post>

  <div
    [hidden]="modalView"
    class="close-button-modal"
    (click)="modalView = !modalView"
  ></div>
</div>
