.navbar {
  @apply fixed
    w-full
    z-10
    border
    border-solid;

  border-color: #e6e6e6;
  padding: 26px 40px;

  .nav-container {
    @apply justify-around
      flex
      flex-row;
  }

  .logo {
    @apply float-left
    items-center;
    width: 106px;
    height: 36px;
  }

  .searchBar {
    @apply w-1/5
      flex
      border-r-4
      justify-start
      border
      border-solid;

    background: #fafafa;
    border-color: #f1f1f1;

    img{
      width: 20px;
      margin: 0px 6px;
    }

    p {
      @apply m-1.5;

      color: #c5c5c5;
    }
  }

  .instagram-utils {
    @apply grid
       grid-cols-5
       grid
       gap-x-6
       items-center;

    & > img {
      @apply w-8
        cursor-pointer;
    }

    > div {
      @apply w-8
        h-8
        cursor-pointer
        float-left
        bg-center
        bg-no-repeat
        cursor-pointer
        border
        border-solid;

      background-image: url("/assets/outline_person_black_24dp.png");
      background-color: #fafafa;
      border-radius: 100%;
      border-color:#dbdbdb;
    }
  }
}

.feed-container {
  @apply justify-center
    flex
    h-full;

  background: #fafafa;
}
